---
import CardDeluxe from '@/components/CardDeluxe.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title='Fibonacci'>
  <div class='p-8 w-svw h-svh flex items-center justify-center gap-4'>
    <CardDeluxe bodyText='HOOOLA AMIGO ESTE TEXTO LO PUEDES VER MEJOR SI' />
    <CardDeluxe
      bodyText='HOOOLA AMIGO ESTE TEXTO LO PUEDES VER MEJOR SI'
    /><CardDeluxe bodyText='HOOOLA AMIGO ESTE TEXTO LO PUEDES VER MEJOR SI' />
  </div>
</Layout>
