<div class='contaienr'>
  <div class='nav-bar text-white'>esta es la navbar</div>
  <article class='flex justify-center items-center'>
    esta es la pagina que mide 100vh de alto
  </article>
</div>

<style>
  .nav-bar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  article {
    /* height: 100vh; */
    background: yellow;
    height: 10dvh;
  }

  .contaienr {
    height: 100vh;
    background: red;
  }
</style>
