---
import Layout from '../../layouts/Layout.astro';
import UpScrolling from '../../components/UpScrolling.astro';
---

<Layout title='Gallery'>
  <UpScrolling>
    <div slot='content3' class='text-white'>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non laboriosam
      voluptas eius. Quas consequatur, totam repellat at quia recusandae harum
      hic facere atque ipsum odio dicta nisi quidem? Exercitationem, aliquid?
    </div>
    <div slot='content1' class='text-white'>hola1</div>
    <div slot='content2' class='text-white'>hola2</div>
  </UpScrolling>
</Layout>
